<!DOCTYPE html>
<html lang="en"  >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" content="text/JavaScript" >
        <link rel="stylesheet" href="/dist/css/bootstrap.css">
        <title>COA Log Server</title>
    </head>
    <body>
        <div>
            <h4>Failed Test Cases List ==> <%=images.length %></h4>
            <br/>
            <% const imagesPerRow = 6;
            for( var i=0; i<images.length; i = i+imagesPerRow) {
                var pathOfImages = '/propel' + path + '/';
            %>
            <div class="container-fluid">
                <div class="row">
                    <% for (var k=i; k<i+imagesPerRow && k<images.length; k++) {
                        var imageName = images[k];
                        var reg = /fail/i;
                        if( imageName.search(reg) < 0) { //title contains string of fail
                    %>
                        <div class="col-lg-2" data-toggle="tooltip" data-placement="top" title=<%= imageName%> >
                           <img id=<%= k%> src='<%= pathOfImages + images[k] %>' class="img-fluid img-thumbnail rounded border-primary" alt="...">
                        </div>
                    <% } else {%>
                        <div class="col-lg-2" data-toggle="tooltip" data-placement="top" title=<%= imageName%> >
                            <img id=<%= k%> src='<%= pathOfImages + images[k] %>' class="img-fluid img-thumbnail rounded border-danger" alt="...">
                        </div>
                    <% }
                    } %>
                </div>
            </div>
            <div class="container" style="height: 20px" ></div>
            <% } %>
        </div>
        <script src="/jquery/jquery.slim.min.js"></script>
        <script src="/popper.js/popper.min.js"></script>
        <script src="/dist/js/bootstrap.min.js"></script>
	<script>
	 $(function () {
  		$('[data-toggle="tooltip"]').tooltip()
	})
	</script>
    </body>
</html>
